/* Grid catalog */
.grid {
    width: 200px;
    min-height: 200px;
    background-color: #f5f5f5;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 20px 10px 0;
    position: relative;
    overflow: hidden;
}

/* Style products and categories */
.goods-category-list-title, 
.goods-item-title {
    text-align: center;
    padding: 15px;
    margin: 0px;
    font-size: 16px;
}

.goods-category-thumb-container,
.goods-item-thumb-container {
    margin: 10px 0;
    text-align: center;
}
.goods-single-thumb-container {
    float: left;
    margin: 0 20px 20px 0;
}

.goods-category-thumb,
.goods-item-thumb,
.goods-single-thumb {
    border: 1px solid #aaa;
}

.goods-price {
    font-weight: bold;
}
.goods-price-single {
    font-size: 16px;
    color: #A60000;
}
.goods-descr-single,
.goods-price-single{
    margin: 10px 0 10px 0;
}
.single-category-title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

/* Pagination */
.goods-pagination {
    clear: both;
    padding: 20px 0 20px 0;
    position: relative;
}

.goods-pagination span, .goods-pagination a {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
    padding: 6px 9px 5px 9px;
    font-weight: normal;
    text-decoration: none;
    width: auto;
    color: #333;
    background: #F5F5F5;
}

.goods-pagination a:hover {
    color: #FFF;
    background: #999;
}

.goods-pagination .current {
    padding: 6px 9px 5px 9px;
    background: #999;
    color: #FFF;
}

/* Common */
.clear {
    clear: both;
}